<h1>Create Album</h1>


<form  action="/albums" method="post">

  <label for="name">Album Name</label>
  <input type="text" name="name" >
  <label for="quantity"> Quantity</label>
  <input type="number" name="quantity" >

  <select name="artist_id" id="name">
    <% @artists.each do |artist| %>
    <option value=<%=artist.id%>> <%=artist.name %> </option>
    <% end %>
  </select>

  <input type="submit" value="Add Album">

</form>

<label for="name">Which album do you want to delete?</label>
  <% @albums.each do |album| %>
  <form  action="/albums/<%= album.id %>/delete" method="post">
    <li> <%=album.name %> </li>
    <input type="submit"  value="Delete Album">
    <% end %>
  </form>
